@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.menu-header{
  @apply  text-white w-full h-44 items-center justify-center lg:flex hidden
}

.menu-nav{
  @apply bg-slate-800 flex gap-5 items-center justify-center p-5 rounded-md
}

.menu-item{
  @apply hover:bg-slate-700 hover:border hover:border-violet-700 hover:animate-pulse cursor-pointer duration-300 p-2 px-3
}
